
<h3 style="text-align:Left; padding: 25px 50px 30px 100px;">Phone List Validation</h3>
<h4 *ngIf="!isDataFound" style="text-align: center"> No Data Found</h4>

<div *ngIf="isDataFound" class="container">


  <mat-form-field>
    <mat-select  [(value)]="selectedFilter" placeholder="Select Filter Type">
      <mat-option *ngFor="let type of searchFields" [value]="type.value">
        {{ type.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-select  [(value)]="selectedFilterValue" placeholder="Select Filter Value">
      <mat-option *ngFor="let type of getSearchValues()" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button style="margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 10px;" mat-raised-button color="primary" (click)="applyFilter(1)">Filter</button>

<button style="margin-top: 25px;
margin-bottom: 35px;
margin-left: 20px;
margin-right: 10px;" mat-raised-button color="warn" (click)="removeFilter()">Remove Filter</button>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>State</th>
      <th>Code</th>
      <th>number</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phone of phoneList">
      <td>{{phone.name}}</td>
      <td>{{phone.country}}</td>

      <td>{{phone.state}}</td>

      <td>{{phone.countryCode}}</td>

      <td>{{phone.number}}</td>
    </tr>
  </tbody>
</table>


<mat-paginator #paginator [length]="theTotalElements"
               [pageSize]="thePageSize"
               [pageSizeOptions]="[5]"
               (page)="pageEvent = $event;showData(pageEvent.pageIndex)">
</mat-paginator>


</div>
